---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "NVIDIA FLARE" : "NVIDIA FLARE";

const base_url = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="NVIDIA FLARE™ (NVIDIA Federated Learning Application Runtime Environment) is a domain-agnostic, open-source, and extensible SDK for Federated Learning."
      canonical={canonicalURL}
    />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">

  </head>
  <body>
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="prismjs/prism.js"></script>
    <!-- <script async defer src=`${base_url}/testtt/sa_latest.js`></script> -->
    <!-- <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
    </noscript> -->
    <!-- <script>
      (function() {
        var script = document.createElement('script');
        script.async = true;
        script.defer = true;
        script.src = "/scripts/data"; // Rename to something non-tracking
        document.body.appendChild(script);
      })();
    </script> -->
    <script>
      (function() {
        var script = document.createElement('script');
        script.async = true;
        script.defer = true;
        script.src = `${base_url}/testtt/sa_latest.js`; // Rename to something non-tracking
        document.body.appendChild(script);
      })();
    </script>
  </body>
</html>
